# This file contains common pin mappings for the BIGTREETECH Manta E3EZ
# To use this config, the firmware should be compiled for the
# STM32G0B1 with a "8KiB bootloader" "8 MHz crystal"
# and "USB (on PA11/PA12)" or "CAN bus (on PB12/PB13)".

# See docs/Config_Reference.md for a description of parameters.

[virtual_sdcard]
path: ~/printer_data/gcodes
[display_status]
[pause_resume]

[include eddycan.cfg]
#[include ./options/eddy2.cfg]
[include canbus.cfg]
[include shell_command.cfg]
[include macro.cfg]
[include KAMP_Settings.cfg]
#[include ./KAMP/Adaptive_Meshing.cfg]
[include ./KAMP/Line_Purge.cfg]
[include ./KAMP/Smart_Park.cfg]
[include mainsail.cfg]
[exclude_object]
[auto_speed]
axis: diag_x, diag_y  ; One or multiple of `x`, `y`, `diag_x`, `diag_y`, `z`

margin: 20            ; How far away from your axes to perform movements

settling_home: True   ; Perform settling home before starting Auto Speed
max_missed: 1.0       ; Maximum full steps that can be missed
endstop_samples: 3    ; How many endstop samples to take for endstop variance

accel_min: 1000.0     ; Minimum acceleration test may try
accel_max: 50000.0    ; Maximum acceleration test may try
accel_accu: 0.05      ; Keep binary searching until the result is within this percentage

velocity_min: 50.0    ; Minimum velocity test may try
velocity_max: 5000.0  ; Maximum velocity test may try
velocity_accu: 0.05   ; Keep binary searching until the result is within this percentage

derate: 0.8           ; Derate discovered results by this amount

validate_margin: 0.05
; Margin for VALIDATE, Defaults to margin
validate_inner_margin: 20.0 ; Margin for VALIDATE inner pattern
validate_iterations: 50     ; Perform VALIDATE pattern this many times




######################################
### ADXL3145
######################################
[gcode_arcs]
resolution: 1.0

[stepper_x]
step_pin: PA14
dir_pin: !PA10
enable_pin: !PA13
microsteps: 16
rotation_distance: 40
endstop_pin: ^PC4
position_endstop: 0
position_max: 340
homing_speed: 50

[stepper_y]
step_pin: PC8
dir_pin: !PA15
enable_pin: !PC14
microsteps: 16
rotation_distance: 40
endstop_pin: ^PB0
position_endstop: 0
position_max: 340
homing_speed: 50

[stepper_z]
step_pin: PD2
dir_pin: !PD4
enable_pin: !PD3
microsteps: 16
rotation_distance: 8
endstop_pin: probe:z_virtual_endstop
#position_endstop: 0
position_max: 320
position_min: -8

#[extruder]
#step_pin: PD5
#dir_pin: PD6
#enable_pin: !PB3
#microsteps: 16
#gear_ratio: 42:12
#rotation_distance: 26.359
#nozzle_diameter: 0.400
#filament_diameter: 1.750
#heater_pin: PB11 #HE0
#sensor_type: EPCOS 100K B57560G104F
#sensor_pin: PA4 #TH0
#control: pid
#pid_Kp: 21.527
#pid_Ki: 1.063
#pid_Kd: 108.982
#min_temp: 0
#max_temp: 300




#[safe_z_home]
#home_xy_position: 185,160   #Nozzle coordinates
#speed: 250
#z_hop: 10
#z_hop_speed: 5

#[bed_mesh]
#speed: 120
#mesh_min: 20, 35
#mesh_max: 250, 280
#probe_count: 6,6
#fade_start: 1
#fade_end: 10
#fade_target: 0
#algorithm: bicubic

[screws_tilt_adjust]
screw1: 73, 40
screw1_name: front left screw
screw2: 310, 40
screw2_name: front right screw
screw3: 310, 280
screw3_name: rear right screw
screw4: 73, 280
screw4_name: rear left screw
horizontal_move_z: 10.
screw_thread: CW-M4

[temperature_sensor BIQU 2]
sensor_type: temperature_host
min_temp: 10
max_temp: 100
 

#[filament_switch_sensor material_0]
#switch_pin: PC5

[filament_switch_sensor switch_sensor]
switch_pin: PB1
pause_on_runout: False
runout_gcode:
   M117 Filament switch runout
insert_gcode:
   M117 Filament switch inserted

[filament_motion_sensor encoder_sensor]
switch_pin: PC5
detection_length: 2.88
extruder: extruder
pause_on_runout: False
runout_gcode:
   M117 Filament encoder runout
insert_gcode:
   M117 Filament encoder inserted






#[extruder1]
#step_pin: PB7
#dir_pin: PB6
#enable_pin: !PB4
#heater_pin: PB10 # HE1
#sensor_pin: PA5 # T1

#[filament_switch_sensor material_1]
#switch_pin: PB1

[heater_bed]
heater_pin: PB2 #HB
sensor_type: EPCOS 100K B57560G104F #Generic 3950
sensor_pin: PA3 #TB
#control: watermark
min_temp: 0
max_temp: 130

#[fan]
#pin: PA8

#[heater_fan fan1]
#pin: PB15

#[heater_fan fan2]
#pin: PB14

[output_pin PS_ON]
pin: PB9

[neopixel my_neopixel]
pin: PC7

[adxl345]
cs_pin: PC15
spi_software_miso_pin: PC11
spi_software_mosi_pin: PC12
spi_software_sclk_pin: PC10

#[resonance_tester]
#accel_chip: adxl345
#probe_points: 150, 100, 20

#[input_shaper]
#shaper_freq_x:     # frequency for the X mark of the test model
#shaper_type_x: mzv.             # type: Mzv or is
#shaper_freq_y:                  # frequency. For the Y mark of the test model
#shaper_type_y: mzv



[mcu]
#serial: /dev/serial/by-id/usb-Klipper_stm32g0b1xx_3B00060010504D5930363820-if00
canbus_uuid: b7a2e991257b


[printer]
kinematics: cartesian
max_velocity: 82
max_accel: 820
max_z_velocity: 5
max_z_accel: 100

########################################
# TMC2209 configuration
########################################

[tmc2209 stepper_x]
uart_pin: PB8
##diag_pin: PC4
run_current: 0.800
stealthchop_threshold: 999999

[tmc2209 stepper_y]
uart_pin: PC9
##diag_pin: PB0
run_current: 0.800
stealthchop_threshold: 999999

[tmc2209 stepper_z]
uart_pin: PD0
##diag_pin: PC6
run_current: 0.650
stealthchop_threshold: 999999

#[tmc2209 extruder]
#uart_pin: PD1
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2209 extruder1]
#uart_pin: PB5
#run_current: 0.800
#stealthchop_threshold: 999999

[gcode_macro update_git]
gcode:
    RUN_SHELL_COMMAND CMD=update_git_script

[gcode_shell_command update_git_script]
command: bash /home/orangepi/printer_data/klipper-backup/script.sh
timeout: 90.0
verbose: True
########################################
# TMC2130 configuration
########################################

#[tmc2130 stepper_x]
#cs_pin: PB8
#spi_software_miso_pin: PC11
#spi_software_mosi_pin: PC12
#spi_software_sclk_pin: PC10
##diag1_pin: PF3
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2130 stepper_y]
#cs_pin: PC9
#spi_software_miso_pin: PC11
#spi_software_mosi_pin: PC12
#spi_software_sclk_pin: PC10
##diag1_pin: PF4
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2130 stepper_z]
#cs_pin: PD0
#spi_software_miso_pin: PC11
#spi_software_mosi_pin: PC12
#spi_software_sclk_pin: PC10
##diag1_pin: PF5
#run_current: 0.650
#stealthchop_threshold: 999999

#[tmc2130 extruder]
#cs_pin: PD1
#spi_software_miso_pin: PC11
#spi_software_mosi_pin: PC12
#spi_software_sclk_pin: PC10
#run_current: 0.800
#stealthchop_threshold: 999999

#[tmc2130 extruder1]
#cs_pin: PB5
#spi_software_miso_pin: PC11
#spi_software_mosi_pin: PC12
#spi_software_sclk_pin: PC10
#run_current: 0.800
#stealthchop_threshold: 999999

[board_pins]
aliases:
    # EXP1 header
    EXP1_1=PC1, EXP1_3=PC3, EXP1_5=PC0, EXP1_7=PA2, EXP1_9=<GND>,
    EXP1_2=PC2,  EXP1_4=<RST>, EXP1_6=PA0, EXP1_8=PA1, EXP1_10=<5V>

#[bltouch]
#sensor_pin: PA6
#control_pin: PA7

#[output_pin PS_ON]
#pin: PA9

#[output_pin pb9_pin]
#pin: PB9

#[neopixel my_neopixel]
#pin: PC7

#[adxl345]
#cs_pin: PC15
#spi_software_miso_pin: PC11
#spi_software_mosi_pin: PC12
#spi_software_sclk_pin: PC10

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 67.245
#*# pid_ki = 1.047
#*# pid_kd = 1079.281
#*#
#*# [input_shaper]
#*# shaper_type_x = 3hump_ei
#*# shaper_freq_x = 94.6
#*# shaper_type_y = ei
#*# shaper_freq_y = 33.8
#*#
#*# [probe_eddy_current btt_eddy]
#*# reg_drive_current = 15
#*# calibrate =
#*# 	0.050000:3209193.617,0.090000:3208636.107,0.130000:3208066.079,
#*# 	0.170000:3207478.121,0.210000:3206937.553,0.250000:3206385.218,
#*# 	0.290000:3205848.198,0.330000:3205291.318,0.370000:3204779.910,
#*# 	0.410000:3204275.506,0.450000:3203735.944,0.490000:3203235.056,
#*# 	0.530000:3202758.209,0.570000:3202221.524,0.610000:3201762.572,
#*# 	0.650000:3201290.999,0.690000:3200808.306,0.730000:3200331.321,
#*# 	0.770000:3199853.695,0.810000:3199411.893,0.850000:3198986.121,
#*# 	0.890000:3198545.442,0.930000:3198104.873,0.970000:3197692.172,
#*# 	1.010000:3197285.777,1.050000:3196886.323,1.090000:3196478.058,
#*# 	1.130000:3196093.964,1.170000:3195715.772,1.210000:3195335.637,
#*# 	1.250000:3194974.080,1.290000:3194598.055,1.330000:3194235.862,
#*# 	1.370000:3193897.360,1.410000:3193530.982,1.450000:3193230.636,
#*# 	1.490000:3192895.573,1.530000:3192580.333,1.570000:3192240.668,
#*# 	1.610000:3191913.657,1.650000:3191619.170,1.690000:3191310.648,
#*# 	1.730000:3190995.201,1.770000:3190696.452,1.810000:3190388.404,
#*# 	1.850000:3190085.315,1.890000:3189814.126,1.930000:3189522.997,
#*# 	1.970000:3189268.891,2.010000:3188998.224,2.050000:3188726.949,
#*# 	2.090000:3188458.856,2.130000:3188193.430,2.170000:3187962.282,
#*# 	2.210000:3187700.368,2.250000:3187465.553,2.290000:3187206.981,
#*# 	2.330000:3186987.421,2.370000:3186756.589,2.410000:3186525.021,
#*# 	2.450000:3186297.412,2.490000:3186063.228,2.530000:3185853.591,
#*# 	2.570000:3185642.537,2.610000:3185419.371,2.650000:3185215.931,
#*# 	2.690000:3185005.747,2.730000:3184799.768,2.770000:3184627.036,
#*# 	2.810000:3184414.297,2.850000:3184224.368,2.890000:3184023.790,
#*# 	2.930000:3183851.391,2.970000:3183663.123,3.010000:3183480.549,
#*# 	3.050000:3183304.829,3.090000:3183130.678,3.130000:3182970.270,
#*# 	3.170000:3182810.259,3.210000:3182607.520,3.250000:3182462.918,
#*# 	3.290000:3182287.749,3.330000:3182121.998,3.370000:3181988.504,
#*# 	3.410000:3181815.877,3.450000:3181661.053,3.490000:3181511.477,
#*# 	3.530000:3181371.778,3.570000:3181243.705,3.610000:3181082.584,
#*# 	3.650000:3180921.644,3.690000:3180788.167,3.730000:3180676.651,
#*# 	3.770000:3180514.440,3.810000:3180381.405,3.850000:3180262.013,
#*# 	3.890000:3180121.273,3.930000:3179985.126,3.970000:3179868.185,
#*# 	4.010000:3179721.765,4.050000:3179608.520
#*#
#*# [temperature_probe btt_eddy]
#*# calibration_temp = 32.529605
